#note-list {
  background: grey;
  width: 25%;
  height: 100vh;
  overflow: auto;
  display: block;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}

.note-listing {
  background: blue;
  color: white;
}

#note-panel {
  background: silver;
  width: 75%;
  display: block;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
