#note-list {
  background: grey;
  width: calc(30% - 75px);
  height: 80%;
  overflow: auto;
  display: block;
  float: left;
  position: absolute;
  top: 20%;
  left: 75px;
}

.note-listing {
  background: blue;
  color: white;
}

#note-panel {
  background: silver;
  width: 70%;
  height: calc(100% - 75px);
  display: block;
  float: right;
  position: absolute;
  top: 75px;
  right: 0px;
}

#sidebar {
  width: 75px;
  height: 100%;
  overflow: auto;
  display: block;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  background: green;
  text-align: center;
}

#toolbar {
  width: 70%;
  height: 75px;
  overflow: auto;
  display: block;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  background: yellow;
}

#notebook-info {
  background: red;
  width: calc(30% - 75px);
  height: 20%;
  overflow: auto;
  display: block;
  float: left;
  position: absolute;
  top: 0px;
  left: 75px;
}

#new-note-button {
  height: 35px;
  width: 35px;
  border: none;
  font-size: 15px;
  font-weight: bolder;
  margin: 10px;
  border-radius: 50%;
}

#note-title-input {
  width: 90%;
  display:inline;
  float: left;
  height: 10px;
}

#note-body-input {
  width: 100%;
  resize: none;
  height: calc(100% - 22px);
  position: relative;
  padding: 0;
}

#note-submit {
  display: inline;
  float: right;
  width: 5%;
}
